.battlenav-nav--loading { width: 100%; min-height: 56px; }
@media (min-width: 960px) {
  .battlenav-nav--loading { min-height: var(--global-size-900); }
}
.battlenav-nav--mobile { display: block; }
@media (min-width: 960px) {
  .battlenav-nav--mobile { display: none; }
}
.navigation-subnav blz-menu-item::part(host-anchor) { height: 56px; }
.navigation-subnav blz-menu-item::part(heading) { font-size: var(--global-font-size-200); }
.navigation-subnav blz-menu-item::part(subheading) { font-size: var(--global-font-size-100); }
.navigation-subnav blz-menu-item blz-image::part(image) { object-fit: contain; }
.mobile-app blz-nav-battlenet { padding: 0px; }
.mobile-app blz-nav-battlenet::part(bar) { top: calc(-1*var(--global-size-1000)); }
blz-nav-battlenet { z-index: calc(var(--measure-z-index-menu) + 2); }
@media (min-width: 960px) {
  blz-nav-battlenet { top: calc(-1*var(--global-size-1000)); }
  blz-nav-battlenet blz-nav-dropdown[slot="primary-menu"] { display: none; }
}
blz-nav-battlenet .primary-menu { display: none; }
.search { color: var(--battle-net-color-physical-white-72); }
#menu-overflow::part(primary-menu) { grid-template-columns: auto auto; }
.sale blz-menu-link span, .sale blz-menu-link:hover span { color: var(--battle-net-color-physical-blue-500); }
blz-menu-link { width: 100%; }
blz-menu-link span { font-weight: 700; color: var(--battle-net-color-physical-white-72); }
blz-menu-link:hover span { color: var(--battle-net-color-physical-white-100); }
.navigation { position: sticky; background-color: var(--global-color-background-700); min-height: var(--semantic-size-nav-height-desktop); top: 56px; transition: all var(--global-motion-duration-medium) var(--global-motion-ease-out); z-index: calc(var(--measure-z-index-menu) + 1); }
body:has(.showStickyNav) .navigation { top: -72px; }
@media (min-width: 960px) {
  .navigation { top: 0px; }
  body:has(.showStickyNav) .navigation { top: calc(-1*var(--global-size-900)); }
}
.desktop-app .navigation, .mobile-app .navigation { top: 0px; }
.desktop-nav--loading { width: 100%; min-height: 88px; background: var(--battle-net-color-physical-gray-600); }
.desktop-nav ul { margin: 0px; height: 100%; }
.desktop-nav ul.wrapper li { list-style: none; height: 100%; }
.desktop-nav ul li { list-style: none; }
.navigation-subnav blz-nav-link { --navbar-menu-font-size: var(--global-size-200); --global-size-75: 0; --font-default: var(--battle-net-typography-heading-font-family); --font-size-200: var(--global-font-size-100); --navbar-badge-background-color: var(--battle-net-color-alert-red-500); --navbar-badge-text-color: var(--battle-net-color-physical-white-100); --nav-size-050: var(--global-size-50); --nav-font-size-200: var(--global-font-size-75); --nav-size-200: var(--global-size-200); --nav-size-150: var(--global-size-200); }
.navigation-subnav blz-nav-link:focus::part(text), .navigation-subnav blz-nav-link:hover::part(text) { color: var(--battle-net-color-physical-white-100); }
.navigation-subnav blz-nav-link::part(nav-link-content) { min-height: 56px; padding: 0 var(--semantic-space-around-vertical-sm); }
.navigation-subnav blz-nav-link::part(icon) { height: var(--global-size-400); margin-right: var(--semantic-space-between-sm); min-width: var(--global-size-400); width: var(--global-size-400); }
.navigation-subnav blz-nav-link::part(subtext) { color: var(--battle-net-color-physical-white-48); font-family: var(--semantic-body-text-lg); font-size: var(--global-font-size-100); font-weight: 400; line-height: var(--global-font-line-height-default); }
.navigation-subnav blz-nav-link::part(text) { color: var(--battle-net-color-physical-white-72); font-family: var(--semantic-body-text-lg); font-size: var(--global-font-size-200); font-weight: 700; line-height: var(--global-font-line-height-default); transition: color var(--global-motion-ease-out); }
.navigation-subnav__container { background: var(--battle-net-color-physical-gray-500); border-radius: var(--semantic-border-radius-md); max-height: 515px; overflow: hidden auto; width: 264px; }
.navigation-subnav__container-list { align-items: center; display: flex; padding: 0px; }
.navigation-subnav__container.alert { min-width: 320px; }
.navigation-subnav__content--loading { min-width: 600px; min-height: 515px; }
@media (min-width: 960px) {
  .navigation-subnav__content--loading { min-width: 728px; }
}
.navigation-subnav__content { margin: 0px; padding: 0px; display: flex; }
.navigation-subnav__content .links-container { padding: 0px; }
.navigation-subnav__content li { border-radius: var(--semantic-border-radius-md); display: block; }
.navigation-subnav__content li:focus-within, .navigation-subnav__content li:hover { background-color: var(--battle-net-color-physical-white-6); }
.navigation-subnav__content li:last-of-type { margin-bottom: 1px; }
.promoted { color: var(--battle-net-color-physical-blue-500); font-family: var(--battle-net-typography-body-font-family); }
.battlenet-nav__split-payment { display: block; }
@media (min-width: 960px) {
  .battlenet-nav__split-payment { display: none; }
}
.navigation-tertiary-nav { position: sticky; background-color: var(--global-color-background-700); top: 144px; transition: all var(--global-motion-duration-medium) var(--global-motion-ease-out); z-index: var(--measure-z-index-menu); }
body:has(.showStickyNav) .navigation-tertiary-nav { top: 56px; }
@media (min-width: 960px) {
  body:has(.showStickyNav) .navigation-tertiary-nav { top: 0px; }
  .navigation-tertiary-nav { top: 88px; }
}
.navigation-tertiary-nav--battlenet-desktop-app, .navigation-tertiary-nav--battlenet-mobile-app { top: 72px; }
body:has(.showStickyNav) .navigation-tertiary-nav--battlenet-desktop-app, body:has(.showStickyNav) .navigation-tertiary-nav--battlenet-mobile-app { top: 0px; }
@media (min-width: 960px) {
  .navigation-tertiary-nav--battlenet-desktop-app, .navigation-tertiary-nav--battlenet-mobile-app { top: var(--global-size-900); }
}
body:has(.showStickyNav) .desktop-app .navigation-tertiary-nav, body:has(.showStickyNav) .mobile-app .navigation-tertiary-nav { top: 0px; }
.tertiary-nav { margin-top: 0px; }
@media (min-width: 480px) {
  .tertiary-nav { margin-top: calc(-1*var(--semantic-space-between-sm)); }
}
@media (min-width: 960px) {
  .tertiary-nav { margin-bottom: var(--semantic-space-around-vertical-xs); }
}
.tertiary-nav__inner { display: flex; flex-wrap: wrap; }
.tertiary-nav__inner:not(.tertiary-nav__inner--has-virtual-currency) { align-items: center; height: var(--global-size-200); min-height: 49px; top: 50px; visibility: visible; z-index: var(--measure-z-index-above); }
.tertiary-nav__inner .app-container { display: flex; }
.tertiary-nav__breadcrumb { display: inline; height: 100%; }
.tertiary-nav__breadcrumb sup { font-size: var(--global-font-size-75); line-height: 0; }
.tertiary-nav__breadcrumbs { align-items: center; display: inline-flex; list-style: none; overflow: hidden; padding-left: var(--semantic-space-between-xxxs); }
@media (min-width: 720px) {
  .tertiary-nav__breadcrumbs { padding-left: var(--semantic-space-around-horizontal-md); }
}
.tertiary-nav__breadcrumbs-home { margin-right: var(--semantic-space-between-xxxs); }
.tertiary-nav__breadcrumbs-home-icon-container { align-items: center; display: flex; }
.tertiary-nav__breadcrumbs-home-icon-container blz-icon { height: var(--global-size-250); width: var(--global-size-250); }
.tertiary-nav__breadcrumbs-item { align-items: center; display: inline-flex; text-overflow: ellipsis; white-space: nowrap; }
.tertiary-nav__breadcrumbs-item:last-child { overflow: hidden; }
.tertiary-nav__breadcrumbs blz-breadcrumb-item::part(host-anchor button), .tertiary-nav__breadcrumbs blz-breadcrumb-item::part(host-anchor button):hover { text-decoration: none; }
.tertiary-nav__breadcrumbs-crumb, .tertiary-nav__breadcrumbs-home-icon { color: var(--battle-net-color-physical-white-72); cursor: pointer; transition: color var(--global-motion-duration-medium) var(--global-motion-ease-out); }
.tertiary-nav__breadcrumbs-crumb:focus, .tertiary-nav__breadcrumbs-crumb:hover, .tertiary-nav__breadcrumbs-home-icon:focus, .tertiary-nav__breadcrumbs-home-icon:hover { color: var(--battle-net-color-physical-white-100); }
.tertiary-nav__breadcrumbs-crumb:active, .tertiary-nav__breadcrumbs-home-icon:active { color: var(--battle-net-color-physical-white-60); }
.tertiary-nav__breadcrumbs-page-crumb { color: var(--battle-net-color-physical-white-72); }
.tertiary-nav__breadcrumbs-page-crumb--last { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }
.tertiary-nav__virtual-currency { display: flex; justify-content: right; margin: 0px 0px auto auto; min-height: 49px; padding: 0px; }
.tertiary-nav__virtual-currency-tooltip { opacity: 0; overflow: hidden; position: absolute; right: 0px; text-align: center; top: 49px; transition: opacity var(--global-motion-duration-medium) var(--global-motion-ease-out),visibility var(--global-motion-duration-medium) var(--global-motion-ease-out); visibility: hidden; white-space: nowrap; z-index: var(--measure-z-index-base); }
.tertiary-nav__virtual-currency-tooltip:focus-within, .tertiary-nav__virtual-currency-tooltip:hover { opacity: 1; visibility: visible; }
.tertiary-nav__virtual-currency-tooltip p { white-space: normal; width: 235px; word-break: break-word; }
.tertiary-nav__virtual-currency-tooltip a.tertiary-nav__virtual-currency-tooltip-info-cta { display: block; padding-top: var(--semantic-space-between-sm); color: var(--global-color-primary-400); cursor: pointer; font-weight: var(--global-font-weight-bold); position: relative; text-decoration: underline; text-underline-position: under; transition: color var(--global-motion-duration-medium) var(--global-motion-ease-out); }
.tertiary-nav__virtual-currency-tooltip a.tertiary-nav__virtual-currency-tooltip-info-cta:hover { color: var(--global-color-primary-300); }
.tertiary-nav__virtual-currency-balance { align-items: center; display: flex; justify-content: center; }
.tertiary-nav__virtual-currency-balance.focus-visible ~ .tertiary-nav__virtual-currency-tooltip, .tertiary-nav__virtual-currency-balance:hover ~ .tertiary-nav__virtual-currency-tooltip { opacity: 1; visibility: visible; }
.tertiary-nav__virtual-currency-balance-button { align-items: center; background-color: var(--battle-net-color-physical-white-12); border-radius: var(--semantic-border-radius-md); display: flex; height: var(--global-size-300); justify-content: center; margin-left: var(--semantic-space-between-sm); width: var(--global-size-300); }
.tertiary-nav__virtual-currency li { align-items: center; display: flex; list-style: none; min-height: 49px; position: relative; }
.tertiary-nav__virtual-currency li a.tertiary-nav__virtual-currency-balance { color: var(--battle-net-color-physical-white-72); display: flex; padding: 0 var(--semantic-space-around-horizontal-md); text-align: center; transition: color var(--global-motion-duration-medium) var(--global-motion-ease-out); width: 100%; }
.tertiary-nav__virtual-currency li a.tertiary-nav__virtual-currency-balance:focus, .tertiary-nav__virtual-currency li a.tertiary-nav__virtual-currency-balance:hover { color: var(--battle-net-color-physical-white-100); }
.tertiary-nav__virtual-currency li a.tertiary-nav__virtual-currency-balance:active { color: var(--battle-net-color-physical-white-60); }
.tertiary-nav__virtual-currency .tertiary-tooltip { background-color: var(--global-color-background-500); border: 1px solid var(--battle-net-color-physical-white-12); border-radius: var(--semantic-border-radius-md); color: var(--battle-net-color-physical-white-72); filter: var(--drop-shadow-6); padding: var(--semantic-space-around-vertical-sm) var(--semantic-space-around-horizontal-md); position: absolute; white-space: nowrap; z-index: var(--measure-z-index-fixed); }