.remove-outline:focus { outline: none; }
.blz-body-text-xxl { font: var(--semantic-body-text-xxl); }
.blz-body-text-xl { font: var(--semantic-body-text-xl); }
.blz-body-text-lg { font: var(--semantic-body-text-lg); }
.blz-body-text-md { font: var(--semantic-body-text-md); }
.blz-body-text-sm { font: var(--semantic-body-text-sm); }
.blz-body-text-xs { font: var(--semantic-body-text-xs); }
.blz-body-text-lg, .blz-body-text-lg::slotted(*), .blz-body-text-md, .blz-body-text-md::slotted(*), .blz-body-text-sm, .blz-body-text-sm::slotted(*), .blz-body-text-xl, .blz-body-text-xl::slotted(*), .blz-body-text-xs, .blz-body-text-xs::slotted(*), .blz-body-text-xxl, .blz-body-text-xxl::slotted(*) { color: var(--global-color-content-700); }
.blz-heading-text-xxl { font: var(--semantic-heading-text-xxl); }
.blz-heading-text-xl { font: var(--semantic-heading-text-xl); }
.blz-heading-text-lg { font: var(--semantic-heading-text-lg); }
.blz-heading-text-md { font: var(--semantic-heading-text-md); }
.blz-heading-text-sm { font: var(--semantic-heading-text-sm); }
.blz-heading-text-xs { font: var(--semantic-heading-text-xs); }
.blz-heading-text-xxs { font: var(--semantic-heading-text-xxs); }
.blz-heading-text-lg, .blz-heading-text-lg::slotted(*), .blz-heading-text-md, .blz-heading-text-md::slotted(*), .blz-heading-text-sm, .blz-heading-text-sm::slotted(*), .blz-heading-text-xl, .blz-heading-text-xl::slotted(*), .blz-heading-text-xs, .blz-heading-text-xs::slotted(*), .blz-heading-text-xxl, .blz-heading-text-xxl::slotted(*), .blz-heading-text-xxs { color: var(--semantic-color-content-default); -webkit-font-smoothing: antialiased; margin: 0px; }
.blz-subheading-text-lg { font: var(--semantic-subheading-text-lg); }
.blz-subheading-text-lg, .blz-subheading-text-md { letter-spacing: var(--semantic-subheading-letter-spacing); text-transform: uppercase; }
.blz-subheading-text-md { font: var(--semantic-subheading-text-md); }
.blz-subheading-text-lg, .blz-subheading-text-lg::slotted(*), .blz-subheading-text-md, .blz-subheading-text-md::slotted(*) { color: var(--global-color-content-700); -webkit-font-smoothing: antialiased; margin: 0px; }
.blz-title-text-lg { font: var(--semantic-title-text-lg); }
.blz-title-text-md { font: var(--semantic-title-text-md); }
.blz-title-text-sm { font: var(--semantic-title-text-sm); }
.blz-title-text-lg, .blz-title-text-lg::slotted(*), .blz-title-text-md, .blz-title-text-md::slotted(*), .blz-title-text-sm, .blz-title-text-sm::slotted(*) { color: var(--semantic-color-content-default); -webkit-font-smoothing: antialiased; margin: 0px; }
.blz-link { color: var(--semantic-color-text-link-default); font-weight: var(--global-font-weight-bold); text-decoration: underline rgba(0, 0, 0, 0); text-underline-position: under; transition: all var(--global-motion-duration-medium) var(--global-motion-ease-out); }
:is(h1, h2, h3, h4, h5, h6, p) > .blz-link { text-decoration: underline; }
.blz-link:active, .blz-link:visited { color: var(--semantic-color-text-link-default); font-weight: var(--global-font-weight-bold); text-decoration-color: var(--semantic-color-text-link-default); }
.blz-link.hover, .blz-link:hover { color: var(--semantic-color-text-link-hover); text-decoration-color: var(--semantic-color-text-link-hover); }
.blz-link-alternate.external, .blz-link-subtle.external, .blz-link.external { white-space: nowrap; }
.blz-link-alternate.external::after, .blz-link-subtle.external::after, .blz-link.external::after { background-color: currentcolor; content: ""; display: inline-block; height: 1em; margin-inline-start: var(--global-size-25); mask-image: var(--semantic-icon-external-link); mask-repeat: no-repeat; mask-size: 100% 100%; transform: translateY(12.5%); width: 1em; }
.blz-link-alternate { color: var(--semantic-color-text-link-alternate-default); font-weight: var(--global-font-weight-bold); text-decoration: underline rgba(0, 0, 0, 0); text-underline-position: under; transition: all var(--global-motion-duration-medium) var(--global-motion-ease-out); }
:is(h1, h2, h3, h4, h5, h6, p) > .blz-link-alternate { text-decoration: underline; }
.blz-link-alternate:active, .blz-link-alternate:visited { color: var(--semantic-color-text-link-alternate-active); font-weight: var(--global-font-weight-bold); text-decoration-color: var(--semantic-color-text-link-alternate-active); }
.blz-link-alternate.hover, .blz-link-alternate:hover { color: var(--semantic-color-text-link-alternate-hover); text-decoration-color: var(--semantic-color-text-link-alternate-hover); }
.blz-link-subtle { color: var(--semantic-color-text-link-subtle-default); font-weight: var(--global-font-weight-bold); text-decoration: underline rgba(0, 0, 0, 0); text-underline-position: under; transition: all var(--global-motion-duration-medium) var(--global-motion-ease-out); }
:is(h1, h2, h3, h4, h5, h6, p) > .blz-link-subtle { text-decoration: underline; }
.blz-link-subtle:active, .blz-link-subtle:visited { color: var(--semantic-color-text-link-subtle-active); font-weight: var(--global-font-weight-bold); text-decoration-color: var(--semantic-color-text-link-subtle-active); }
.blz-link-subtle.hover, .blz-link-subtle:hover { color: var(--semantic-color-text-link-subtle-hover); text-decoration-color: var(--semantic-color-text-link-subtle-hover); }
.blz-menu-header { align-items: center; color: var(--semantic-color-text-description); display: inline-flex; font: var(--semantic-subheading-text-lg); letter-spacing: var(--semantic-subheading-letter-spacing); overflow: hidden; padding: var(--semantic-space-around-vertical-md-desktop) var(--semantic-space-around-horizontal-xxs) var(--semantic-space-around-vertical-xxs-desktop); text-transform: uppercase; user-select: none; white-space: nowrap; }
*, :host { box-sizing: border-box; }
:host { display: block; }
:host([aspect-ratio]) > * { left: 0px; position: absolute; top: 0px; height: 100% !important; width: 100% !important; }
:focus:not(:focus-visible) { outline: none; }
:host([hidden]), [hidden] { display: none !important; }
::slotted(h1), ::slotted(h2), ::slotted(h3), ::slotted(h4), ::slotted(h5), ::slotted(h6), ::slotted(p), p { font-size: inherit; font-weight: inherit; margin: 0px; }
::slotted(a) { color: inherit; text-decoration: none; }
button { appearance: none; background: none; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; color: inherit; cursor: pointer; font: inherit; padding: 0px; }
.screen-reader-only { border: 0px; clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
:host { display: inline-block; position: relative; }
blz-loading-spinner { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); width: var(--global-size-600); }
p { font: var(--semantic-body-text-xs-mobile); text-decoration: none; }
a, p { color: var(--global-color-content-700); }
a { font-weight: var(--global-font-weight-bold); }
blz-divider { margin: var(--semantic-space-around-vertical-xs-desktop) 0; }
.legal-ratings { align-items: baseline; display: flex; flex-wrap: wrap; gap: var(--semantic-space-between-xxs); }
:is(:host([compact]), :host([compact][orientation])) .legal-ratings { flex-direction: row; }
:host([orientation="vertical"]) .legal-ratings { flex-direction: column; }
:host([orientation="horizontal"]) .legal-ratings.grac { flex-direction: column; }
@media (min-width: 320px) {
  :host([min-orientation="vertical"]) .legal-ratings { flex-direction: column; }
  :host([min-orientation="horizontal"]) .legal-ratings.grac { flex-direction: column; }
}
@media (min-width: 480px) {
  :host([xs-orientation="vertical"]) .legal-ratings { flex-direction: column; }
  :host([xs-orientation="horizontal"]) .legal-ratings.grac { flex-direction: column; }
}
@media (min-width: 720px) {
  :host([sm-orientation="vertical"]) .legal-ratings { flex-direction: column; }
  :host([sm-orientation="horizontal"]) .legal-ratings.grac { flex-direction: column; }
}
@media (min-width: 960px) {
  :host([md-orientation="vertical"]) .legal-ratings { flex-direction: column; }
  :host([md-orientation="horizontal"]) .legal-ratings.grac { flex-direction: column; }
}
@media (min-width: 1200px) {
  :host([lg-orientation="vertical"]) .legal-ratings { flex-direction: column; }
  :host([lg-orientation="horizontal"]) .legal-ratings.grac { flex-direction: column; }
}
@media (min-width: 1400px) {
  :host([xl-orientation="vertical"]) .legal-ratings { flex-direction: column; }
  :host([xl-orientation="horizontal"]) .legal-ratings.grac { flex-direction: column; }
}
@media (min-width: 1600px) {
  :host([xxl-orientation="vertical"]) .legal-ratings { flex-direction: column; }
  :host([xxl-orientation="horizontal"]) .legal-ratings.grac { flex-direction: column; }
}
@media (min-width: 2600px) {
  :host([max-orientation="vertical"]) .legal-ratings { flex-direction: column; }
  :host([max-orientation="horizontal"]) .legal-ratings.grac { flex-direction: column; }
}
.ratings { align-items: center; display: flex; gap: var(--semantic-space-between-xxxs); justify-content: center; }
:host([orientation="horizontal"]) .ratings { align-items: center; flex-direction: row; }
:host([orientation="horizontal"]) .ratings.pegi { align-items: flex-start; }
:host([orientation="vertical"]) .ratings { align-items: flex-start; flex-direction: column; }
@media (min-width: 320px) {
  :host([min-orientation="horizontal"]) .ratings { align-items: center; flex-direction: row; }
  :host([min-orientation="horizontal"]) .ratings.pegi { align-items: flex-start; }
  :host([min-orientation="vertical"]) .ratings { align-items: flex-start; flex-direction: column; }
}
@media (min-width: 480px) {
  :host([xs-orientation="horizontal"]) .ratings { align-items: center; flex-direction: row; }
  :host([xs-orientation="horizontal"]) .ratings.pegi { align-items: flex-start; }
  :host([xs-orientation="vertical"]) .ratings { align-items: flex-start; flex-direction: column; }
}
@media (min-width: 720px) {
  :host([sm-orientation="horizontal"]) .ratings { align-items: center; flex-direction: row; }
  :host([sm-orientation="horizontal"]) .ratings.pegi { align-items: flex-start; }
  :host([sm-orientation="vertical"]) .ratings { align-items: flex-start; flex-direction: column; }
}
@media (min-width: 960px) {
  :host([md-orientation="horizontal"]) .ratings { align-items: center; flex-direction: row; }
  :host([md-orientation="horizontal"]) .ratings.pegi { align-items: flex-start; }
  :host([md-orientation="vertical"]) .ratings { align-items: flex-start; flex-direction: column; }
}
@media (min-width: 1200px) {
  :host([lg-orientation="horizontal"]) .ratings { align-items: center; flex-direction: row; }
  :host([lg-orientation="horizontal"]) .ratings.pegi { align-items: flex-start; }
  :host([lg-orientation="vertical"]) .ratings { align-items: flex-start; flex-direction: column; }
}
@media (min-width: 1400px) {
  :host([xl-orientation="horizontal"]) .ratings { align-items: center; flex-direction: row; }
  :host([xl-orientation="horizontal"]) .ratings.pegi { align-items: flex-start; }
  :host([xl-orientation="vertical"]) .ratings { align-items: flex-start; flex-direction: column; }
}
@media (min-width: 1600px) {
  :host([xxl-orientation="horizontal"]) .ratings { align-items: center; flex-direction: row; }
  :host([xxl-orientation="horizontal"]) .ratings.pegi { align-items: flex-start; }
  :host([xxl-orientation="vertical"]) .ratings { align-items: flex-start; flex-direction: column; }
}
@media (min-width: 2600px) {
  :host([max-orientation="horizontal"]) .ratings { align-items: center; flex-direction: row; }
  :host([max-orientation="horizontal"]) .ratings.pegi { align-items: flex-start; }
  :host([max-orientation="vertical"]) .ratings { align-items: flex-start; flex-direction: column; }
}
.esrb { max-width: var(--view-xs); }
.ratings.esrb { gap: var(--semantic-space-between-xxs); }
:host([orientation="horizontal"]) .ratings.grac { flex-wrap: wrap; justify-content: flex-start; }
:host([orientation="vertical"]) .ratings.grac { display: flex; flex-flow: wrap; justify-content: flex-start; }
@media (min-width: 320px) {
  :host([min-orientation="horizontal"]) .ratings.grac { flex-wrap: wrap; justify-content: flex-start; }
  :host([min-orientation="vertical"]) .ratings.grac { display: flex; flex-flow: wrap; justify-content: flex-start; }
}
@media (min-width: 480px) {
  :host([xs-orientation="horizontal"]) .ratings.grac { flex-wrap: wrap; justify-content: flex-start; }
  :host([xs-orientation="vertical"]) .ratings.grac { display: flex; flex-flow: wrap; justify-content: flex-start; }
}
@media (min-width: 720px) {
  :host([sm-orientation="horizontal"]) .ratings.grac { flex-wrap: wrap; justify-content: flex-start; }
  :host([sm-orientation="vertical"]) .ratings.grac { display: flex; flex-flow: wrap; justify-content: flex-start; }
}
@media (min-width: 960px) {
  :host([md-orientation="horizontal"]) .ratings.grac { flex-wrap: wrap; justify-content: flex-start; }
  :host([md-orientation="vertical"]) .ratings.grac { display: flex; flex-flow: wrap; justify-content: flex-start; }
}
@media (min-width: 1200px) {
  :host([lg-orientation="horizontal"]) .ratings.grac { flex-wrap: wrap; justify-content: flex-start; }
  :host([lg-orientation="vertical"]) .ratings.grac { display: flex; flex-flow: wrap; justify-content: flex-start; }
}
@media (min-width: 1400px) {
  :host([xl-orientation="horizontal"]) .ratings.grac { flex-wrap: wrap; justify-content: flex-start; }
  :host([xl-orientation="vertical"]) .ratings.grac { display: flex; flex-flow: wrap; justify-content: flex-start; }
}
@media (min-width: 1600px) {
  :host([xxl-orientation="horizontal"]) .ratings.grac { flex-wrap: wrap; justify-content: flex-start; }
  :host([xxl-orientation="vertical"]) .ratings.grac { display: flex; flex-flow: wrap; justify-content: flex-start; }
}
@media (min-width: 2600px) {
  :host([max-orientation="horizontal"]) .ratings.grac { flex-wrap: wrap; justify-content: flex-start; }
  :host([max-orientation="vertical"]) .ratings.grac { display: flex; flex-flow: wrap; justify-content: flex-start; }
}
.large { height: 72px; }
.medium { height: 68px; }
.small { height: 48px; }
.image-link::part(host-anchor) { padding: 0px; }
.image-link { display: block; text-decoration: none; }
img { object-fit: contain; width: auto; }
:host([orientation="vertical"]) .ratings.grac > .image-link { flex: 0 0 auto; }
:host([orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { flex: 0 1 auto; min-width: 0px; }
:host([orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; width: 100%; }
:host([orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { align-self: flex-start; flex: 0 1 100%; min-width: 0px; }
:host([orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; }
@media (min-width: 320px) {
  :host([min-orientation="vertical"]) .ratings.grac > .image-link { flex: 0 0 auto; }
  :host([min-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { flex: 0 1 auto; min-width: 0px; }
  :host([min-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; width: 100%; }
  :host([min-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { align-self: flex-start; flex: 0 1 100%; min-width: 0px; }
  :host([min-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; }
}
@media (min-width: 480px) {
  :host([xs-orientation="vertical"]) .ratings.grac > .image-link { flex: 0 0 auto; }
  :host([xs-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { flex: 0 1 auto; min-width: 0px; }
  :host([xs-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; width: 100%; }
  :host([xs-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { align-self: flex-start; flex: 0 1 100%; min-width: 0px; }
  :host([xs-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; }
}
@media (min-width: 720px) {
  :host([sm-orientation="vertical"]) .ratings.grac > .image-link { flex: 0 0 auto; }
  :host([sm-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { flex: 0 1 auto; min-width: 0px; }
  :host([sm-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; width: 100%; }
  :host([sm-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { align-self: flex-start; flex: 0 1 100%; min-width: 0px; }
  :host([sm-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; }
}
@media (min-width: 960px) {
  :host([md-orientation="vertical"]) .ratings.grac > .image-link { flex: 0 0 auto; }
  :host([md-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { flex: 0 1 auto; min-width: 0px; }
  :host([md-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; width: 100%; }
  :host([md-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { align-self: flex-start; flex: 0 1 100%; min-width: 0px; }
  :host([md-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; }
}
@media (min-width: 1200px) {
  :host([lg-orientation="vertical"]) .ratings.grac > .image-link { flex: 0 0 auto; }
  :host([lg-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { flex: 0 1 auto; min-width: 0px; }
  :host([lg-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; width: 100%; }
  :host([lg-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { align-self: flex-start; flex: 0 1 100%; min-width: 0px; }
  :host([lg-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; }
}
@media (min-width: 1400px) {
  :host([xl-orientation="vertical"]) .ratings.grac > .image-link { flex: 0 0 auto; }
  :host([xl-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { flex: 0 1 auto; min-width: 0px; }
  :host([xl-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; width: 100%; }
  :host([xl-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { align-self: flex-start; flex: 0 1 100%; min-width: 0px; }
  :host([xl-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; }
}
@media (min-width: 1600px) {
  :host([xxl-orientation="vertical"]) .ratings.grac > .image-link { flex: 0 0 auto; }
  :host([xxl-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { flex: 0 1 auto; min-width: 0px; }
  :host([xxl-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; width: 100%; }
  :host([xxl-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { align-self: flex-start; flex: 0 1 100%; min-width: 0px; }
  :host([xxl-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; }
}
@media (min-width: 2600px) {
  :host([max-orientation="vertical"]) .ratings.grac > .image-link { flex: 0 0 auto; }
  :host([max-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { flex: 0 1 auto; min-width: 0px; }
  :host([max-orientation="horizontal"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; width: 100%; }
  :host([max-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link { align-self: flex-start; flex: 0 1 100%; min-width: 0px; }
  :host([max-orientation="vertical"]) .ratings.grac > .image-descriptors-wrapper ~ .image-link > img { height: auto; max-width: 100%; }
}
.images-row { align-items: center; display: flex; gap: var(--semantic-space-between-xxs); }
.text-descriptors-wrapper { display: inline-block; font: var(--semantic-body-text-xs-mobile); }
.pegi-image-descriptors { height: 56px; width: 56px; }
.image-descriptors-wrapper { display: flex; gap: var(--semantic-space-between-xxxs); }
.korean-contact-info { font: var(--semantic-body-text-xs-mobile); white-space: pre-line; }