.product-label_ProductLabel__6yvLE { display: flex; align-items: center; gap: 0.25rem; }
.product-label_ProductLabel__6yvLE blz-icon { inline-size: var(--global-size-250); block-size: var(--global-size-250); }
.product-label_ProductLabelText__vK102 { font: var(--content-block-font-subheading-md); }