.countdown-timer_countdown-timer__k_dT8 { transition: opacity var(--global-motion-duration-300,.3s) var(--global-motion-ease-out,ease-out); }
.countdown-timer_countdown-timer__k_dT8:not(:defined) { opacity: 0; visibility: hidden; }
.countdown-timer_countdown-timer__k_dT8 { --timer-label-color: var(--semantic-color-text-heading); }
.countdown-timer_countdown-timer__k_dT8 [slot="optional"] { height: var(--global-size-500); width: var(--global-size-500); }
@media (min-width: 960px) {
  .countdown-timer_countdown-timer__k_dT8 [slot="optional"] { height: var(--global-size-600); width: var(--global-size-600); }
}
.countdown-timer_countdown-timer__k_dT8 [slot="background-cover"], .countdown-timer_countdown-timer__k_dT8 [slot="background-fixed"] { display: none; }
@media (min-width: 720px) {
  .countdown-timer_countdown-timer__k_dT8 [slot="background-cover"], .countdown-timer_countdown-timer__k_dT8 [slot="background-fixed"] { display: block; }
}
.countdown-timer_countdown-timer__k_dT8::part(main-content) { justify-items: center; }
@media (min-width: 720px) {
  .countdown-timer_countdown-timer__k_dT8::part(main-content) { justify-items: left; }
}
.download-app-cta_download-app-cta__NY28g { border-bottom: 1px solid var(--semantic-color-border-table-default); border-top: 1px solid var(--semantic-color-border-table-default); display: block; width: 100%; }
.download-app-cta_variant-desktop__lGvTT, .download-app-cta_variant-mobile__SucpK { align-items: center; display: flex; flex-direction: column; margin: 0px auto; max-width: var(--view-max); padding: var(--section-padding); position: relative; width: 100%; }
.download-app-cta_background-image__TVspt { height: 100%; inset: 0px; object-fit: cover; pointer-events: none; position: absolute; width: 100%; z-index: 0; }
.download-app-cta_variant-desktop__lGvTT blz-image[slot="media"], .download-app-cta_variant-mobile__SucpK blz-image[slot="media"] { height: auto; max-height: 434px; max-width: 100%; object-fit: contain; width: 100%; }
.download-app-cta_variant-desktop__lGvTT blz-feature, .download-app-cta_variant-mobile__SucpK blz-feature { max-width: var(--view-xl); position: relative; width: 100%; z-index: 1; }
.download-app-cta_extras__Kal8b { color: var(--semantic-color-content-info); display: block; margin-top: var(--semantic-space-between-md); }
.download-app-cta_inline-link__B3SGw { color: var(--semantic-color-text-link-default); text-decoration: underline; }
.download-app-cta_inline-link__B3SGw:focus-visible, .download-app-cta_inline-link__B3SGw:hover { color: var(--semantic-color-text-link-hover); }
.download-app-cta_screen-reader-only__keY90 { border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px; }
.franchise-bar_family-bar__dzPkF { display: block; position: relative; width: 100%; }
.franchise-bar_family-bar__header__fXa_z { align-items: center; color: var(--semantic-color-content-info); display: flex; gap: var(--semantic-space-between-xs); justify-content: center; margin: 0 0 var(--semantic-space-between-xs) 0; text-align: center; }
.franchise-bar_family-bar__header-blurb__kZbQ_ { color: var(--semantic-color-content-info); margin: 0 0 var(--semantic-space-between-md) 0; text-align: center; }
.franchise-bar_family-bar__container__LTwnI { background-color: var(--semantic-color-background-info-primary); border-radius: var(--semantic-border-radius-md); display: flex; flex-direction: column; justify-content: space-between; min-height: 40px; padding: var(--semantic-space-around-vertical-md-mobile) var(--semantic-space-around-horizontal-md-mobile); width: 100%; }
@media (min-width: 1200px) {
  .franchise-bar_family-bar__container__LTwnI { flex-direction: row; justify-content: center; }
}
.franchise-bar_family-bar__container-inner__1Sefg { align-items: center; display: flex; flex-flow: column wrap; justify-content: center; }
@media (min-width: 1200px) {
  .franchise-bar_family-bar__container-inner__1Sefg { flex-direction: row; }
}
.franchise-bar_family-bar__label__z6Sk8 { color: var(--semantic-color-text-heading); margin: 0 0 var(--semantic-space-between-xs) 0; text-transform: uppercase; }
@media (min-width: 1200px) {
  .franchise-bar_family-bar__label__z6Sk8 { margin: 0 var(--semantic-space-between-md) 0 0; }
}
.franchise-bar_family-bar__icons__DPUBD { display: flex; flex-wrap: wrap; gap: var(--semantic-space-between-sm); justify-content: center; list-style: none; margin: 0px; padding: 0px; }
.franchise-bar_family-bar__icons-item__vQ9KB { align-items: center; display: flex; justify-content: center; }
.franchise-bar_family-bar__icons-link__rPoUb { align-items: center; display: inline-flex; height: 40px; justify-content: center; text-decoration: none; transition: transform var(--global-motion-duration-medium) var(--global-motion-ease-out); width: 40px; }
.franchise-bar_family-bar__icons-link__rPoUb:focus-visible, .franchise-bar_family-bar__icons-link__rPoUb:hover { transform: scale(1.2); }
.franchise-bar_icon__va_0g { display: block; height: 100%; max-height: 40px; max-width: 40px; object-fit: contain; width: 100%; }
.franchise-bar_family-bar--logos__9Af7C .franchise-bar_family-bar__container__LTwnI { background: none; padding: var(--semantic-space-around-vertical-md-mobile) 0 0 0; }
.franchise-bar_family-bar--logos__9Af7C .franchise-bar_family-bar__label__z6Sk8 { display: none; }
.franchise-bar_family-bar--logos__9Af7C .franchise-bar_family-bar__icons__DPUBD { gap: var(--semantic-space-between-md); }
.franchise-bar_family-bar--logos__9Af7C .franchise-bar_family-bar__icons-item__vQ9KB { background-color: var(--semantic-color-background-info-primary); border-radius: var(--semantic-border-radius-md); height: 72px; transition: background-color var(--global-motion-duration-medium) var(--global-motion-ease-out); width: 128px; }
@media (min-width: 720px) {
  .franchise-bar_family-bar--logos__9Af7C .franchise-bar_family-bar__icons-item__vQ9KB { height: 112.5px; width: 200px; }
}
.franchise-bar_family-bar--logos__9Af7C .franchise-bar_family-bar__icons-item__vQ9KB:hover { background-color: var(--semantic-color-background-action-secondary-hover); }
.franchise-bar_family-bar--logos__9Af7C .franchise-bar_family-bar__icons-link__rPoUb { height: 100%; transition: none; width: 100%; }
.franchise-bar_family-bar--logos__9Af7C .franchise-bar_family-bar__icons-link__rPoUb:focus-visible, .franchise-bar_family-bar--logos__9Af7C .franchise-bar_family-bar__icons-link__rPoUb:hover { transform: none; }
.franchise-bar_family-bar--logos__9Af7C .franchise-bar_icon__va_0g { max-height: 72px; max-width: 128px; padding: var(--semantic-space-around-vertical-xxs-mobile) var(--semantic-space-around-horizontal-md-mobile); }
@media (min-width: 720px) {
  .franchise-bar_family-bar--logos__9Af7C .franchise-bar_icon__va_0g { max-height: 112.5px; max-width: 200px; }
}
.franchise-bar_screen-reader-only__bw6Z6 { border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px; }
.browsing-card-group { display: block; position: relative; }
.browsing-card-group__container { display: grid; grid-template-columns: repeat(1, 1fr); width: 100%; }
.browsing-card-group__heading { align-items: center; display: inline-flex; flex-wrap: wrap; gap: var(--semantic-space-between-sm); }
.browsing-card-group__new-badge { flex-shrink: 0; }
.browsing-card-group__header { color: var(--semantic-color-text-heading); }
.browsing-card-group__header--top-aligned { display: flex; flex-flow: column wrap; gap: var(--semantic-grid-gap-xxs); justify-content: space-between; }
.browsing-card-group__header-blurb { color: var(--semantic-color-content-info); margin-top: var(--semantic-space-between-sm); width: 100%; }
.browsing-card-group__header-content { margin-right: var(--semantic-space-between-sm); }
.browsing-card-group__timer { align-items: center; color: var(--semantic-color-content-info); display: flex; }
.browsing-card-group__timer blz-icon { color: var(--semantic-color-text-heading); margin-right: var(--semantic-space-between-sm); }
.browsing-card-group:not(.browsing-card-group--text-top-aligned) { display: flex; position: relative; }
@media (min-width: 1400px) {
  .browsing-card-group:not(.browsing-card-group--text-top-aligned) .browsing-card-group__container { grid-template-columns: 20% 80%; }
}
@media (min-width: 1200px) {
  .browsing-card-group:not(.browsing-card-group--text-top-aligned) .browsing-card-group__header { padding: var(--semantic-space-around-vertical-sm) var(--semantic-space-around-horizontal-xxl) var(--semantic-space-around-vertical-sm) 0; }
  .browsing-card-group:not(.browsing-card-group--text-top-aligned) .browsing-card-group__header-content { position: sticky; top: 150px; }
}